1.Download the Dataset

2.Load the dataset

In [75]:
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import scale
file=pd.read_csv("/content/drive/MyDrive/ibm/Churn_Modelling.csv")
file.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

4.Perform descriptive statistics on the dataset.

In [76]:
file.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

5.HANDLE THE MISSING VALUES

In [77]:
file.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

ENCODING

In [78]:
le = LabelEncoder()

In [103]:
file['Gender']=le.fit_transform(file['Gender'])
file['Geography']=le.fit_transform(file['Geography'])

In [104]:
file.head

<bound method NDFrame.head of       RowNumber  CustomerId    Surname  CreditScore  Geography  Gender  Age  \
0             1    15634602   Hargrave          619          0       0   42
1             2    15647311       Hill          608          2       0   41
2             3    15619304       Onio          502          0       0   42
3             4    15701354       Boni          699          0       0   39
4             5    15737888   Mitchell          850          2       0   43
...         ...         ...        ...          ...        ...     ...  ...
9995       9996    15606229   Obijiaku          771          0       1   39
9996       9997    15569892  Johnstone          516          0       1   35
9997       9998    15584532        Liu          709          0       0   36
9998       9999    15682355  Sabbatini          772          1       1   42
9999      10000    15628319     Walker          792          0       0   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]>

DEPENDENT AND INDEPENDENT

In [105]:
y=file['Surname']
x=file.drop(columns=['Surname'],axis=1)
file.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,2,0,43,2,125510.82,1,1,1,79084.10,0

**SCALING**

In [108]:
from sklearn.preprocessing import scale

In [110]:
names = x.columns

In [111]:
X=scale(x)

In [116]:
X

array([[-0.29071053,  3.46402935, -0.29056212, ..., -0.29071053,
        -0.26637125, -0.29071053],
       [-0.29260554,  3.46397524, -0.29246005, ..., -0.29260578,
        -0.26558698, -0.29260602],
       [-0.29415047,  3.46385319, -0.29403041, ..., -0.29415119,
        -0.26673925, -0.29415095],
       ...,
       [-0.28732647,  3.46408895, -0.2895639 , ..., -0.28973443,
        -0.27959758, -0.28973443],
       [-0.28984129,  3.46401217, -0.29205135, ..., -0.29223626,
        -0.26998753, -0.29223602],
       [-0.28984989,  3.46397984, -0.29206302, ..., -0.29225337,
        -0.2830743 , -0.29225337]])

In [117]:
x=pd.DataFrame(x,columns=names)
x.head()

,RowNumber,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,850,2,0,43,2,125510.82,1,1,1,79084.10,0

TRAINING AND TESTING

In [118]:
from sklearn.model_selection import train_test_split

In [120]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x_train,x_test,y_train,y_test

(      RowNumber  CustomerId  CreditScore  Geography  Gender  Age  Tenure  \
 1428       1429    15794560          550          0       1   57       5
 3656       3657    15759284          750          0       0   37       6
 4379       4380    15808831          669          0       1   29       7
 4121       4122    15606133          628          2       1   42       7
 647         648    15805112          578          0       1   38       7
 ...         ...         ...          ...        ...     ...  ...     ...
 6436       6437    15723216          623          1       1   33       2
 8957       8958    15787825          585          1       1   37       6
 2258       2259    15776631          466          0       0   36       5
 8663       8664    15736578          539          0       1   39       1
 5734       5735    15596647          768          0       1   54       8

         Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  \
 1428       0.00              1          1               1        133501.94
 3656       0.00              1          1               1        117948.00
 4379       0.00              2          1               1        138145.62
 4121       0.00              2          0               1        172967.87
 647    82259.29              1          1               0          8996.97
 ...         ...            ...        ...             ...              ...
 6436   80002.33              1          1               1        104079.62
 8957  152496.82              1          1               1         99907.29
 2258  119540.15              1          0               1         80603.99
 8663       0.00              1          1               1         28184.70
 5734   69712.74              1          1               1         69381.05

       Exited
 1428       0
 3656       1
 4379       0
 4121       0
 647        0
 ...      ...
 6436       0
 8957       0
 2258       0
 8663       0
 5734       0

 [8000 rows x 13 columns],
       RowNumber  CustomerId  CreditScore  Geography  Gender  Age  Tenure  \
 6931       6932    15808930          531          0       0   37       1
 3189       3190    15596522          692          0       0   42       2
 1112       1113    15714750          690          0       0   42       3
 7034       7035    15767264          465          1       1   53       1
 7415       7416    15635598          812          0       1   29       6
 ...         ...         ...          ...        ...     ...  ...     ...
 1235       1236    15600700          523          1       1   63       6
 4890       4891    15797113          552          2       0   34       4
 6564       6565    15737104          652          1       0   47       0
 6859       6860    15811927          733          0       0   38       3
 9382       9383    15665634          645          0       0   38       7

         Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  \
 6931       0.00              1          1               0          4606.97
 3189       0.00              2          1               0        145222.93
 1112   92578.14              2          0               0         70810.60
 7034  117438.17              1          0               0         74898.80
 7415       0.00              2          0               0        168023.60
 ...         ...            ...        ...             ...              ...
 1235  116227.27              1          1               1        119404.63
 4890       0.00              2          1               0        140286.69
 6564  126597.89              2          1               1         38798.79
 6859  157658.36              1          0               0         19658.43
 9382   59568.57              1          1               1        167723.25

       Exited
 6931       0
 3189       0
 1112       0
 7034       1
 7415       0
 ...      ...
 1235       0
 4890       0
 6564       1
 6859       0
 9382       0

 [2000 rows x 13 columns],
 1428          Maclean
 3656              Yeh
 4379             Dale
 4121              Lay
 647         Pokrovsky
             ...
 6436            Greco
 8957    Okwudiliolisa
 2258               Ma
 8663         Hamilton
 5734        Henderson
 Name: Surname, Length: 8000, dtype: object,
 6931         Mai
 3189    Meredith
 1112     Northey
 7034      Lawson
 7415       Hsieh
           ...
 1235         Pan
 4890       Bevan
 6564      Lawson
 6859     Marcelo
 9382    Campbell
 Name: Surname, Length: 2000, dtype: object)

In [121]:
x = pd.DataFrame(x,columns = names)

In [122]:
x.head()

,RowNumber,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [123]:
from sklearn.model_selection import train_test_split

In [124]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [125]:
import tensorflow

In [126]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [127]:
model=Sequential()

In [128]:
model.add(Dense(units=4,kernel_initializer="random_uniform",activation='relu'))

In [129]:
model.add(Dense(units=10,kernel_initializer="random_uniform",activation='relu'))

In [130]:
model.add(Dense(units=12,kernel_initializer="random_uniform",activation='relu'))

In [131]:
model.add(Dense(units=1,kernel_initializer="random_uniform"))

In [132]:
model.compile(loss='mse',metrics=['mse'],optimizer="adam")

In [133]:
model.fit(x_train,y_train,epochs=10,batch_size=10)

Epoch 1/10

UnimplementedError: ignored

In [134]:
model.predict(x_test)

array([[21.938303],
       [22.330421],
       [22.065321],
       ...,
       [21.976479],
       [22.22089 ],
       [21.971745]], dtype=float32)

In [135]:
y_test=np.array(y_test)

In [136]:
error=y_test-pred

NameError: ignored

In [137]:
from sklearn import metrics

In [138]:
metrics.mean_squared_error(pred,y_test)

NameError: ignored